
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB",  "Microsoft YaHei", Arial, sans-serif;
}

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    margin-bottom: 40px;
    margin-top: 0px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;

    .container {
        padding-left: 15px;
        padding-right: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

.register-page {
    img.captcha {
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

/* User profile page */
.users-show-page {
    .user-info {
        .thumbnail {
            margin-bottom: 0px;
        }
    }
}

/* Topic Index Page */
.topics-index-page {
    .topic-list {
        .nav > li > a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }
        a {
            color: #444444;
        }
        .meta {
            font-size: 0.9em;
            color: #b3b3b3;
            a {
                color: #b3b3b3;
            }
        }
        .badge {
            background-color: #d8d8d8;
        }
        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }
    }
}
